<div class="chat-container" {{on "mousemove" this.getDownPosition}}>
    <Chatwindow::Header @identity={{this.getIdentity}}/>
    <div class="chat-container-inner">
        <Contacts::Nav @contacts={{this.getContacts}}/>
        <div class="chat-container-inside">
            <Chatwindow::Messagehistory @history = {{this.history}} />
            <Chatwindow::Replybox @unsent = {{this.unsent}} />
        </div>
    </div>
    
    {{#each this.popUps as |message index|}}
      <Popup::Messagebox @message={{setPopUpPosition message index=index}}/>
    {{/each}}
</div>
