<div class="reply">
    <input value={{@unsent}} {{on 'input' this.updateValue}}/>
    <button {{on 'click' this.onSend}}>Send</button>
    {{#each  this.replydata as |reply|}}
    <p>:) {{reply.sender}}:{{reply.message}}</p>
    {{/each}}
</div>