<div class="contacts-nav">
    {{#each  @contacts.contacts as |contact index|}}
      {{#if (eq contact.userName @contacts.focused) }}
        <Contacts::Item data-test-{{index}} @contact={{enable (addattribute contact)}}/>
      {{else}}
        <Contacts::Item data-test-{{index}} @contact={{enable contact}}/>
      {{/if}}
    {{/each}}
</div>